@font-face {
    font-family: 'Herculanum';
    src: url('Herculanum.eot');
    src: url('Herculanum.eot?#iefix') format('embedded-opentype'),
        url('Herculanum.woff2') format('woff2'),
        url('Herculanum.woff') format('woff'),
        url('Herculanum.ttf') format('truetype'),
        url('Herculanum.svg#Herculanum') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

p{
    font-family: Herculanum;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
}

#imagen_logo{
    height: 80px;
    width: 140px;
    margin-left: 20px;
    background-image: url("/imagenes/logo_atla.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: filter 0.2s ease-in-out;
}

#imagen_logo:hover{
    filter: drop-shadow(2px 2px rgba(73, 146, 255, 0.473));
}

@media (max-width: 850px)
{
    #reviews_wrapper{
        display: flex !important;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        gap: 150px;
    }

    #texto_sinapsis{
        font-size: 3vw !important;
        margin: 50px !important;
    }

    .texto_remarcado{
        font-size: 4vw !important;
    }


    #tomatometer_reviews > img{
        height: 30px !important;
    }

    .container_review > a > img{
        width:  220px !important; 
    }

    .tomatometer_main_text{
        font-size: 20px !important; 
    }

    .tomatometer_secondary_text{
        font-size: 15px !important;
    }

    .review_secondary_text{
        font-size: 13px !important;
    }

    .review_main_text{
        font-size: 10px !important; 
    }
}

@media (max-width: 600px)
{
    #navegador_header{
        font-size: 75% !important ; 
    }
}

@media (max-width: 450px) {

    #container_principal{
        gap: 30px !important;
    }

    #navegador_header > a{
        height: 40px !important;
    }

    #imagen_logo{
        height: 40px !important;
        width: 80px !important;
        margin-left: 5px !important;
    }

    #navegador_header{
        height: 40px !important;
    }

    #tomatometer_reviews > img{
        height: 20px !important;
    }

    .container_review > a > img{
        width:  150px !important; 
    }

    .tomatometer_main_text{
        font-size: 15px !important; 
    }

    .tomatometer_secondary_text{
        font-size: 10px !important;
    }

    .review_secondary_text{
        font-size: 10px !important;
    }

    .review_main_text{
        font-size: 10px !important; 
    }

}

@media (max-width: 370px) {
    #navegador_header{
        font-size: 40% !important ; 
    }
}

@media (max-width: 320px) {
    #imagen_logo{
        height: 20px !important;
        width: 60px !important;
    }
}


.tomatometer_secondary_text{
    font-size: 1.2vw;
}

.review_secondary_text{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
}

#navegador_header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 120%;
    overflow-y: hidden;
}

.review_main_text{
    font-size: 1.5vw;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

#navegador_header > a{
    text-decoration: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.247);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 80px;
    align-items: center;
    transition: background-color 0.4s ease-in-out;
    overflow-x: visible;
    border: 1px solid rgba(0, 0, 0, 0.116);
}

#navegador_header > a:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

.video_background{
    opacity: 60%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;  
    overflow: hidden;
    z-index: -1;
    top: 0;
}

.container_styles{
    position: relative;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
}

#video_sinapsis{
    opacity: 40%;
    transition: opacity 1s ease-in-out;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    gap: 5px;
    background-color: rgba(128, 128, 128, 0.493);
}

#texto_footer{
    text-align: center;
    font-size: 12px;
}

#redes_sociales_footer{
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    padding: 5px;
    margin-top: 4px;
    align-items: center;
    align-self: center;
    width: 22vw;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
    transition: transform 0.25s ease-in-out;
}

#redes_sociales_footer:hover{
    transform: scale(1.1);
}

#redes_sociales_footer > a{
    overflow: hidden;
    height: 2.0vw;
    min-height: 25px;
}

#redes_sociales_footer * img{
    height: 100%;
}

#reviews_wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 150px;
    padding-top: 90px;
    padding-bottom: 90px;
}

#container_sinapsis{
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
}

#container_sinapsis:hover #video_sinapsis{
    opacity: 70%;
}

#texto_sinapsis{
    font-size: 1.8rem;
    margin: 80px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.753);
}

.container_review{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: fit-content;
    transition: transform 0.15s ease-in-out;
}

.texto_remarcado{
    font-size: 2.7rem;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.212);
}

.container_review:hover{
    transform: scale(1.1);
}

.container_review > a > img{
    width: 22vw;
    filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.493));
    padding-right: 5px;
    transition: filter 0.15s ease-in-out, padding 0.15s ease-in-out;
}

.container_review > a > img:hover{
    filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.493));
    padding: 0px 15px 15px 0px;
}


.tomatometer_main_text{
    text-shadow: rgba(97, 96, 96, 0.24) 3px 3px;
    font-size: 2vw;
}

#tomatometer_reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.container_review > div{
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.281) 0px 2px 0px 0px;
}

#tomatometer_reviews > img{
    height: 3vw;
}