@font-face {
    font-family: 'Herculanum';
    src: url('Herculanum.eot');
    src: url('Herculanum.eot?#iefix') format('embedded-opentype'),
        url('Herculanum.woff2') format('woff2'),
        url('Herculanum.woff') format('woff'),
        url('Herculanum.ttf') format('truetype'),
        url('Herculanum.svg#Herculanum') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

p{
    font-family: Herculanum;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
}

#imagen_logo{
    height: 110px;
    width: 200px;
    margin-left: 40px;
    background-image: url("/imagenes/logo_atla.png");
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 900px)
{
    #imagen_logo
    {
        height: 80px;
        width: 140px;
        margin-left: 20px;
    }

    #navegador_header{
        height: 80px !important;
        font-size: 120% !important ; 
    }

    header{
        gap: 10px;
    }

    #container_principal{
        flex-direction: column;
        gap: 60px !important;
    }

    #video_background{
        top: 0px;
    }
}

@media (max-width: 600px)
{
    #navegador_header{
        font-size: 75% !important ; 
    }
}



#navegador_header{
    font-size: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: visible;
    height: 130px;
}

#navegador_header > a{
    text-decoration: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.247);
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.4s ease-in-out;
}

#navegador_header > a:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

#video_background{
    position: absolute;
    z-index: -1;
    opacity: 60%;
    min-width: 100%;
    min-height: 1200px;
}

#container_principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    row-gap: 150px;
    height: fit-content;
}

.container_review{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: fit-content;
}

.container_review > img{
    width: 22vw;
    filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.493));
}


.score-rottentomatoes{
    text-shadow: rgba(97, 96, 96, 0.24) 3px 3px;
    font-size: 2vw;
}

#tomatometer_reviews{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_review > div{
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.281) 0px 2px 0px 0px;
}

#tomatometer_reviews > img{
    height: 3vw;
}