@font-face {
    font-family: 'Herculanum';
    src: url('Herculanum.eot');
    src: url('Herculanum.eot?#iefix') format('embedded-opentype'),
        url('Herculanum.woff2') format('woff2'),
        url('Herculanum.woff') format('woff'),
        url('Herculanum.ttf') format('truetype'),
        url('Herculanum.svg#Herculanum') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

p{
    font-family: Herculanum;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
}

#imagen_logo{
    height: 80px;
    width: 140px;
    margin-left: 20px;
    background-image: url("/imagenes/logo_atla.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: filter 0.2s ease-in-out;
}

#imagen_logo:hover{
    filter: drop-shadow(2px 2px rgba(73, 146, 255, 0.473));
}

@media (max-width: 850px)
{
    #reviews_wrapper{
        display: flex !important;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        gap: 150px;
    }

    .texto_sinapsis{
        font-size: 3vw !important;
        margin: 50px !important;
    }

    .texto_remarcado{
        font-size: 4vw !important;
    }


    #tomatometer_reviews > img{
        height: 30px !important;
    }

    .container_review > a > img{
        width:  220px !important; 
    }

    .tomatometer_main_text{
        font-size: 20px !important; 
    }

    .tomatometer_secondary_text{
        font-size: 15px !important;
    }

    .review_secondary_text{
        font-size: 13px !important;
    }

    .review_main_text{
        font-size: 10px !important; 
    }
}

@media (max-width: 600px)
{
    #navegador_header{
        font-size: 75% !important ; 
    }
}

@media (max-width: 450px) {

    #container_principal{
        gap: 30px !important;
    }

    #navegador_header > a{
        height: 40px !important;
    }

    #imagen_logo{
        height: 40px !important;
        width: 80px !important;
        margin-left: 5px !important;
    }

    #navegador_header{
        height: 40px !important;
    }

    #tomatometer_reviews > img{
        height: 20px !important;
    }

    .container_review > a > img{
        width:  150px !important; 
    }

    .tomatometer_main_text{
        font-size: 15px !important; 
    }

    .tomatometer_secondary_text{
        font-size: 10px !important;
    }

    .review_secondary_text{
        font-size: 10px !important;
    }

    .review_main_text{
        font-size: 10px !important; 
    }

}

@media (max-width: 370px) {
    #navegador_header{
        font-size: 40% !important ; 
    }
}

@media (max-width: 320px) {
    #imagen_logo{
        height: 20px !important;
        width: 60px !important;
    }
}


.tomatometer_secondary_text{
    font-size: 1.2vw;
}

.review_secondary_text{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
}

#navegador_header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 120%;
    overflow-y: hidden;
}

.review_main_text{
    font-size: 1.5vw;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

#navegador_header > a{
    text-decoration: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.247);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 80px;
    align-items: center;
    transition: background-color 0.4s ease-in-out;
    overflow-x: visible;
    border: 1px solid rgba(0, 0, 0, 0.116);
}

#navegador_header > a:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

.video_background{
    opacity: 60%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;  
    overflow: hidden;
    z-index: -1;
    top: 0;
}

.container_styles{
    position: relative;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
}

#video_sinapsis{
    opacity: 40%;
    transition: opacity 1s ease-in-out;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    gap: 5px;
}

.footer_shadow{
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
}

#texto_footer{
    text-align: center;
    font-size: 12px;
}

#container_temporadas{
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
}

@media (max-width: 1330px){
    .sinapsis_temporada{
        font-size: 1.4rem !important;
    }
}

@media (max-width: 750px){
    .sinapsis_temporada{
        font-size: 1.2rem !important;
    }
    .numero_temporada{
        font-size: 14vw !important;
    }
    .nombre_personaje{
        font-size: 7vw !important;
    }
    #personajes_main_container{
        padding-top: 100px !important;
    }
    .descripcion_personaje{
        font-size: 5vw !important;
        width: 70vw !important;
    }
    .foto_personaje{
        height: 30vw !important;
    }
}

@media (max-width: 600px){
    .sinapsis_temporada{
        font-size: 1rem !important;
    }
}

@media (max-width: 350px){
    .sinapsis_temporada{
        font-size: 0.8rem !important;
    }
}
@media (max-width: 1205px){
    #wrapper_temporada_1{
        background-position: center 0px !important;
    }
    #wrapper_temporada_3{
        background-position: center 0px !important;
    }
}

.sinapsis_temporada{
    position: absolute;
    opacity: 0;
    width: 95vw;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
    transition: opacity 0.5s ease-in-out;
}

.numero_temporada{
    font-size: 12vw;
    transition: opacity 0.5s ease-in-out;
    color: black;
    text-shadow: 5px 5px #424242;
}

.wrapper_temporada{
    height: 500px;
    background-size: cover;
    background-position: center;
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
    background-color: rgba(255, 255, 255, 0.171);
    background-blend-mode: lighten;
    transition: background-color 0.5s ease-in-out;
}

#wrapper_temporada_1{
    background-image: url(../imagenes/temporada\ 1.jpg);
    background-position: center -120px;
}

#personajes_main_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 200px;
    padding-bottom: 50px;
    gap: 50px;
    background-color: rgba(168, 222, 231, 0.705);
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
}

.personaje_wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
    border-radius: 5px;
}

.personaje_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nombre_personaje{
    text-align: center;
    font-size: 40px;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.233);
}

.descripcion_personaje{
    width: 700px;
    gap: 20px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 30px;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.315);
    margin: 0px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
    border-radius: 10px;
}

.personaje_wrapper:hover + .descripcion_personaje{
    opacity: 1;
}

.foto_personaje{
    height: 350px;
    border-radius: 5px;
    margin: 6px;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
}

#wrapper_temporada_3{
    background-image: url(../imagenes/temporada\ 3.jpg);
    background-position: center -120px;
}

.wrapper_temporada:hover .sinapsis_temporada{
    opacity: 1;
}

.wrapper_temporada:hover .numero_temporada{
    opacity: 0;
}

.wrapper_temporada:hover{
    background-color: rgba(255, 255, 255, 0.6);
}


#redes_sociales_footer{
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    gap: 2vw;
    align-items: center;
    align-self: center;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
    transition: transform 0.25s ease-in-out;
}

#redes_sociales_footer:hover{
    transform: scale(1.1);
}

#redes_sociales_footer > a{
    overflow: hidden;
    height: 2.0vw;
    min-height: 25px;
}

#redes_sociales_footer * img{
    height: 100%;
}

#reviews_wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 150px;
    padding-top: 90px;
    padding-bottom: 90px;
}

#container_sinapsis{
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
}

#container_sinapsis:hover #video_sinapsis{
    opacity: 70%;
}
.texto_sinapsis{
    font-size: 1.8rem;
    margin: 80px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.753);
}

.container_review{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: fit-content;
    transition: transform 0.15s ease-in-out;
}

.texto_remarcado{
    font-size: 2.7rem;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.212);
}

.container_review:hover{
    transform: scale(1.1);
}

.container_review > a > img{
    width: 22vw;
    filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.493));
    padding-right: 5px;
    transition: filter 0.15s ease-in-out, padding 0.15s ease-in-out;
}

.container_review > a > img:hover{
    filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.493));
    padding: 0px 15px 15px 0px;
}


.tomatometer_main_text{
    text-shadow: rgba(97, 96, 96, 0.24) 3px 3px;
    font-size: 2vw;
}

#tomatometer_reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.container_review > div{
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.281) 0px 2px 0px 0px;
}

#tomatometer_reviews > img{
    height: 3vw;
}

#container_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 50px 0px;
    gap: 50px;
}

#form_wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    background-color: rgba(224, 224, 224, 0.712);
    padding: 20px;
    border-radius: 10px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#nombre, #apellido{
    width: 500px;
}

#nombre, #apellido, #email{
    height: 50px;
    padding-left: 10px;
}

#nombre, #apellido, #email, #mensaje{
    padding-left: 10px;
}

#mensaje{
    padding-top: 10px;
}

#h1_contacto{
    font-size: 45px;
    text-shadow: 2px 2px white;
    background-color: rgba(224, 224, 224, 0.712);
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
}

#h1_contacto > p{
    font-family: "DM Serif Text", serif;
    font-style: normal; 
}

#email, #mensaje, #boton_enviar{
    width: 550px; 
}

#mensaje{
    max-width: 550px;
    min-width: 550px;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
}

#boton_enviar{
    height: 70px;
    font-size: 25px;    
}

#boton_enviar > p{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

@media (max-width: 650px){
    #h1_contacto{
        font-size: 25px;
    }

    #mensaje{
        max-width: 250px;
        min-width: 250px;
        height: 200px;
        max-height: 200px;
        min-height: 200px;
    }

    #email, #mensaje, #boton_enviar{
        width: 250px;
    }

    #nombre, #apellido{
        width: 200px;
    }


}

.shadow_bg{
    -webkit-box-shadow: 0px 0px 8px 0px #0000008f;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #0000009f;
    transition: all 0.2s ease-in-out;
}

.shadow_bg:hover{
    -webkit-box-shadow: 0px 0px 15px 0px #0000008f;
    -moz-box-shadow: 0px 0px 15px 0px #000000;
    box-shadow: 0px 0px 15px 0px #0000009f;
}

#button_wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

    .gallery {
      display: grid;
      margin: 50px;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      gap: 50px;
      padding: 10px;
    }

    #container_galeria{
        background-color: rgba(224, 224, 224, 0.678);
    }

    .gallery img {
      width: 100%;
      border-radius: 10px;      
      cursor: pointer;
      height: 100%;
    }

    .gallery > a{
        border-radius: 10px;
        overflow-y: hidden;
    }

    @media (max-width: 600px)
    {
        .gallery{
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));            
        }
    }

    @media (max-width: 400px)
    {
        .gallery{
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));            
        }
        .btn {
            transform: scale(0.5);
        }
    }

    @media (max-width: 250px)
    {
        .gallery{
            grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));            
        }
    }

    /* Lightbox */
    .lightbox {
      display: none;
      position: fixed;
      z-index: 999;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0,0,0,0.9);
      justify-content: space-around;
      gap: 2vw;
      align-items: center;
    }

    .lightbox.active {
      display: flex;
    }

    .lightbox img {
      max-width: 90%;
      max-height: 80%;
      border-radius: 10px;
    }

    .btn {
      color: white;
      font-size: 2rem;
      cursor: pointer;
      user-select: none;
      padding: 10px 20px;
      background: rgba(247, 247, 247, 0.384);
      border-radius: 8px;
      transition: background 0.3s;
      margin: 0px 10px 0px 10px;
    }

    .btn:hover {
      background: rgba(255, 255, 255, 0.596);
    }

    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 2rem;
      color: white;
      cursor: pointer;
    }